@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body{
    overflow-x: hidden;
    font-display: 'lato', sans-serif;
    color: #505962;
}
.top-bar{
    background-color: #ab4909;
    height: 2.8rem;
    padding: .5rem 0;
    text-transform: uppercase;
}
.top-bar a{
    color: white;
    text-decoration: none;
    font-size: .9rem;
    letter-spacing: .1rem;
    
}
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
    background: rgb(0, 0, 0, .6)!important;

}
.nav-item{
    padding: .5rem;
}

.navbar-brand{
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.navbar-brand img{
    height: 3.5rem;
    margin-right: .7rem;
}

.navbar-nav li{
    padding-right: .7rem;

}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;

}
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;

}
#carouselExampleIndicators{
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}
#carouselExampleIndicators2 {
    height: 24.5rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);

}


.carousel-inner {
    max-height: 48rem!important;
}

.carousel-item{
    height: 100vh;
    background-size: cover;
    text-transform: uppercase;
}
.bg-custom {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;

}
.carousel-caption h4{
    font-size: .9.5rem;
    text-emphasis: .1rem .1rem .3rem rgba(0, 0, 0, .4);

}
.border-primary {
    border-top: .2rem solid #ab4909;
}

.carousel-caption h5{
    font-size: .9.1rem;
    text-emphasis: .1rem .1rem .3rem rgba(0, 0, 0, .4);

}


.rounded-circle{
    width: 304;
    height: 236;
}

.carousel-item-ii{
    height: 100vh;
    background-color: black;
    text-transform: uppercase;
    background-size: 100% 100%;
    
}
/*-- Fixed Background Image --*/
.fixed {
    background-image: url('../img/library.jpg');
    position: fixed;
    max-height: 20rem;
}

.fixed-background {
    padding: 10rem 0rem;
}

.fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  .fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
    
}
/* Devices under 768px (md) */
@media (max-width: 404px) {
    #mv1{
        max-height: 15rem;
    }
}
.btn {
    text-align: center;
    position: center;
}

.text-left,
.text-right {
    text-decoration-color: white;
    font-size: .1.3rem solid;
    color:  white; 
    font-family: "Poppins", sans-serif;

}
.jumbotron py-5 mb-0 {
    font-family: "Poppins", sans-serif;
    font-size: .1.1rem solid;
}
.text-right {
    text-align: justify;
}
.story{
    max-height: 20rem;
    max-width: 20rem;
}
.story1 {
    max-height: 20rem;
    max-width: 20rem;
    height: 13.2rem;
}
.story2 {
    max-height: 20rem;
    max-width: 20rem;
    height: 13.2rem;
}

.bg1 {
    max-height: 20rem;
    max-width: 20rem;
    height: 20.1rem;
    padding-left: 0rem;
    padding-right: 0rem;
}
.text-center{
    color: black;
    text-align: center;
}

.text-center mt-3 col-sm-12 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.4rem;
}
.text-dark pt4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    text-transform: uppercase; 
    text-align: center;
}

.my-4 text-dark {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 p {
    font-size: 1.1rem; 
    font-family: "Poppins", sans-serif;
 }
.about {
    text-align: justify; 
    font-size: 1.1rem;
     text-align: justify;
      font-family: "Poppins", sans-serif;
}
/*footer css style*/
footer{
    background-color: black!important;
    height: 30.1rem;
    color: white;
}

#img0 {
    height: 3.5rem;
    margin-right: .7rem;
}
footer p, footer a
.socket a {
    color: white;
    text-decoration: none;

}
.socket {
    background-color: #383838;
}
ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
}
ul.social li {
    margin: 0 auto;

}